/* Definición de la animación */
@keyframes deslizar {
    0% {
        transform: translateY(0); /* Comienza en su posición original */
    }

    50% {
        transform: translateY(-20px); /* Sube 20px */
    }

    100% {
        transform: translateY(0); /* Vuelve a su posición original */
    }
}


.animation-img {
    width:100%;
    height: auto;
    animation: deslizar 2s ease-in-out infinite;
}

.icon-ok {
     color:green !important;
}

.icon-no {
    color: red !important;
}

